API_FOOTBALL_KEY=
API_FOOTBALL_LEAGUES=39,140,135,2
API_FOOTBALL_SEASON=2025
API_FOOTBALL_DAYS_AHEAD=7
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_PROVIDER=Quicknode
NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_SOLANA_WS_URL=
NEXT_PUBLIC_SOLANA_WS_ENABLED=true
NEXT_PUBLIC_MAX_MARKET_WS_SUBSCRIPTIONS=3
NEXT_PUBLIC_PRIORITY_FEE_MAX_MICROLAMPORTS=250000
